/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #101010;
    color: #FFDF6C;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin: 1% 0;
}

span {
    color: whitesmoke;
}

p {
    color: #3f3f3f;
}

/* Nav Bar */

#one {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding-top: 1%;
}

#page-identity {
    display: block;
    width: auto;
    font-size: 1.2rem;
    margin-left: 2%;
}

nav {
    height: 100%;
    width: auto;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-right: 1%;
    z-index: 10;
}

a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 0.75rem;
}

a:hover,
a:active {
    color: #FFDF6C;
    transition-duration: 0.5s;
}

.icon-ref {
    color: #FFDF6C
}

.icon-ref:hover,
.icon-ref:active {
    color: whitesmoke;
}

#two {
    display: none;
    height: 30%;
    width: auto;
    position: fixed;
    top: 35%;
    background-color: #FFDF6C;
}

li {
    margin: 28% 5%;
}

li > a {
    color: #101010;
}

li > a:hover,
li > a:active {
    color: whitesmoke;
}

/* Main */

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFDF6C;
    position: fixed;
    top: 45%;
    margin-left: 19.65%;
    z-index: 10;
}

.line {
    border-left: 0.5px groove #FFDF6C;
    position: fixed;
    height: 55%;
    top: 45%;
    margin-left: 20%;
}

main {
    margin: 19% 0 0% 20%;
    padding-left: 4%;
}

.about {
    margin-top: 0%;
    width: 100%;
}

.project-lnk {
    color:#FFDF6C;
}

.project-lnk:hover {
    text-decoration: underline;
}