/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #101010;
    color: #FFDF6C;
    font-family: 'Roboto Mono', monospace;
}

/* Nav Bar */

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding-top: 1%;
}

#page-identity {
    display: block;
    width: auto;
    font-size: 1.2rem;
    margin-left: 2%;
}

nav {
    height: 100%;
    width: auto;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-right: 1%;
}

a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 0.75rem;
}

.icon-ref {
    color: #FFDF6C
}